body{
    background: url(images/matt-sclarandis-159838-unsplash.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    vertical-align: baseline; 
    font-family: 'Karla', sans-serif;
}

nav{
    padding-right: 250px;
}

nav li {
    text-decoration: none; 
    float: right; 
    list-style: none;
    padding: 25px;
    color: white; 
    font-size: 14px;
}

.container{
    margin: 0 auto;
    width: 60%; 
    text-align: center; 
}

h1{
    padding-top: 350px;
    font-size: 50px;
    color: white;
}

p{
    color: white; 
    max-width: 400px;
    margin: 0 auto; 
    font-weight: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

/* Explore now at the buttom of the page */

h2{
    color: white; 
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 15px;
    padding-top: 250px;
    line-height: 0px;
}


.explore{
    opacity: 0.65;
}

.explore:hover{
    opacity: 1; 
}

/* Explore now at the buttom of the page */

.logotxt{
    float: left; 
    padding-left: 250px; 
    font-weight: 800;
}







@media only screen and (max-width: 1066px){
    
    .logotxt{
        padding-left: 10px;
    }
    
    nav{
        padding-right: 10px;
    }
    
    
    h2{
        padding-top: 200px;
    }
    
    
}



@media only screen and (max-width: 574px){
    
    
    
    nav li{
        padding: 10px;
        padding-left: 250px;
    }
    
    h1{
    padding-top: 150px;
                    
    }
    
    h2{
        padding-top: 40px;
    }
    
    .logotxt{
        margin: 0 auto;
        width: 0%;
        float: none; 
        padding-right: 50px;
    }
    
}


